<footer>
    <div>
        <h2 class="titulo">Puedes contactarnos por:</h2>
        <div>
            <ul class="iconos">
                <li><i class="fab fa-facebook"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-telegram"></i></li>
                <li><i class="fab fa-twitter-square"></i></li>
                <li><i class="fas fa-at"></i></li>
            </ul>
        </div>
        <br>
        <div class="fin">
            <h3>Politica de privacidad</h3>
            <img class="logito" src="/images/Diseño sin título.png" alt="">
            <h3>Terminos y condiciones</h3>
        </div>
        <h3 class="copy">Copyright © 2023 DownDrugs GGV</h3>
    </div>
</footer>