<script type='text/javascript' src='/js/menu.js'></script>
<header>
    <div class="contHeader">
        <img class="logo" src="/images/Diseño sin título.png" alt="">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="navbar">
            <ul class="contenido">
                <li> <a href="/" class="activo">Inicio</a> </li>
                <li> <a href="#Conocenos">Conocenos</a> </li>
                <li> <a href="#Drogas">Drogas</a> </li>
                <li> <a href="#Ayuda">Ayuda</a> </li>
            </ul>
        </div>
    </div>
</header>